@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

*{
  margin:0;
  padding:0;
}

body{
  background-color: #FFF8F5;
  /*background:url("../images/back.png");*/
  overflow: auto;
  background-size: cover;
  text-align: center;

}

/* Variables */
:root {
  --font-family: "Inter", Roboto;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #000;
  --secondary-color: #800080;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}


/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}


ul {
  list-style-type: none;
}

.hero h1 {
    font-family: 'SofiaPro-Bold', 'Helvetica', 'Roboto';
    text-align: justify;
    font-size: 50px;
    line-height: 80px;
    margin-right: 50px;
    color: #333;
}


.h3{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

nav {
  position: fixed;
  display: flex;
  background-color:  #FFF8F5;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  /*border-bottom: #333 solid 1px;*/
} 
#nav-menu{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
  margin-top: 0px;
  cursor: pointer;
}
#nav-menu li{
  display: inline;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #333;
  transition: transform 0.15s ease;
  position: relative;
}


#name-logo {
  width: 100px;
  position: absolute;
}

#logo { 
  cursor: pointer;
transition: transform 0.15s ease-in;}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 70px;
}
nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.face img{
  height: auto;
  width: auto;
}

.bio{
  width: 45rem;
  border-radius: 10px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  margin-bottom:100px;
}

.hero h2{
  text-align: justify;
  color: #333;
    margin-bottom: 5px;

}
.hero h3{
  text-align: justify;
  color: #333;
  margin-bottom: 5px;
  font-weight: 100;

}

.hero img { 
  height: 30rem;;
  width: 20rem;
  mix-blend-mode: multiply;
}

.bio {
  width: 35rem;
  padding: 0.625rem;
  border-radius: 6px;
  border: 1px   solid #000;
  box-shadow: 15px 15px 0px 1px purple;
/*  box-shadow: #4756df;*/
 /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);*/
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}



.bio p {
  line-height: var(--line-height);
  padding: 0.5rem 0;
}



/* On mouse-over, add a deeper shadow */



.projects {
  background-color:#FFF8F5;
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  max-width: 90%;
  max-height: 90%;
  justify-content: center;
  border-radius:  25px;
}

.card-pic{
  max-width: 40%;
  max-height: 40%;
  justify-content: center;
  border-radius:  25px;

}

.wineapp img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}
.h4{
  font-weight: lighter;

}

.projects-container {
  padding-left: 30px;
  padding-right:30px;
}

.projects-title {
  margin-bottom: auto;
  margin-top: 10px;
}

.project-title{
  font-family: 'Inter', sans-serif;
  color: #333;
  margin-bottom: 10px;
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  margin: 0 15px 0 15px;
}

.project-card {
  background-color: #fff;
  border-radius:  25px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  width: 30vw;
  height: 30vw;
  display: flex;
  flex-direction: column;   
  align-items: center;
  justify-content: space-between;

}


.project-card:hover{
  box-shadow: 1px 8px 20px grey;

}

.main .project-info {
  width: 100%;
  display: flex;
  justify-content: center;
}


.overview-section p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 40px;
  text-align: justify;
}

.about-container{
  position: relative;
  text-align: center;
}

.about .about-container {
  display: flex;
  flex-direction: column;
  position: relative;

}
.about {
  margin: auto;
  width: 50%;
  max-width: 2000px;
  margin-top: 200px;
  position: relative;
}

.about .about-container p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 40px;
  width: 700px;
}

.about .about-container h1 {
font-size: 50px;
color: #333;
margin-bottom: 30px;
text-align: center;
}

.projects-title {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
}



.socials {
  display: flex;
  flex-direction: column;
  position:fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;

}

footer {
  background-color: #FFF8F5;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  font-weight: 300;
}
footer .footer-container{
  display: flex;
    flex-direction: column;
}

footer .footer-container .footer-sections{
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  position: relative;  
  justify-content: center;
  margin-bottom: 64px;
}
footer .footer-container .footer-sections .right-section {
  text-align: center;
  justify-content: left;
}
footer .footer-container .footer-sections .right-section h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: right;
  font-size: 35px;
}
a {
  color: #333;
  text-decoration: none;
}
.fa-brands, .fab {
  font-weight: 400;
}

.wineapp{
  display: flex;
  justify-content: center;
  padding: 32px 0;
  margin: auto;
  margin-top: 2px;
}


.column-title h3{
  font-weight: 600;
}
main h1 {
  font-weight: 400;
  font-size: 50px;
  margin-top: 50px;
}

li{
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    max-width: 500px;
    margin-top: 0px;
}

.tool-list{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
main .keywords{
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 12px;
margin-top: 10px;
color: rgba(51, 51, 51, 0.74);
text-transform: uppercase;
}
main .img-container {
  height: 600px;
  display: flex;
  justify-content: center;
}

.img-container-for-dev {
  width: 1300px;
  display:flex;
  justify-content:left;
  margin-top: 30px;
  height: 200;
}

main .project-info-container .design-process-section .ideation-section {
  display: flex;
  justify-content: space-around;
}
main .project-info-container .design-process p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #333;
  margin-top: 10px;
  line-height: 30px;
  text-align: justify;
}

main .project-info-container .design-process .process-pictures {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

main .project-info-container .design-process .process-pictures img {
  width: 1100px;
    margin-bottom: 30px;
    margin-top: 10px;
}
main .project-info-container .design-process .before-after {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
main .project-info-container .design-process .before-after img {
    width: 900px;
    margin-bottom: 30px;
    margin-top: 10px;
}
main .project-info-container .design-process .final-concept {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
/*
main .project-info-container .design-process .final-concept img {
    width: 1000px;
    margin-bottom: 50px;
    margin-top: 30px;
}*/

main .project-info-container .design-process .final-concept .wine-container img{
  width: 1000px;
  margin-bottom: 50px;
  margin-top: 30px;
}
main .project-info-container .design-process .final-concept .flyer-container img{
  width: 550px;
  margin-bottom: 50px;
  margin-top: 30px;
}


.flyer-container img {
  width: 50%;
  height:50%
}
.evolved {
  height: 500px;
  margin-top: 30px;
}

.img-container-for-dev img {
  width: 1300px;
  height: 200px;
  display: flex;
  mix-blend-mode: multiply;
}

main {
  display: block;
}
main .project-info {
  width: 100%;
  display: flex;
  justify-content: center;
  
}
main .project-info-container{
margin-top: 90px;
min-width: 1200px;
max-width: 1200px;
}

main .project-info-container .overview-section .concept {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.74);
}

main .project-info-container .overview-section .grid {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  text-align: justify;
}

main .project-info-container .overview-section .grid .section {
  max-width: 400px;
}
main .project-info-container .overview-section .grid p, .tools-list li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 30px;
  max-width: 500px;
  margin-top: 0px;
}

main .project-info-container .design-process .design-process-headline {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: #333;
  text-transform: lowercase;
  margin-top: 80px;
}


main .project-info-container .design-process .design-process-subheadline {
  font-size: 20px;
  /* color: #333; */
  color: rgba(51, 51, 51, 0.74);
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.74);
  
}

main .project-info-container .design-process .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-top: 70px;
  line-height: 30px;
  text-align: justify;

}

main .project-info-container .design-process .grid h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.74);
}


.embr{
  width: 500px;
}

.flamman {
  width: 500px;
}

.video-container{
  width: 1200px;
  height: 480px;
  display: flex; 
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;   
}

main .project-info-container .design-process .ideation{
  display: flex;
  justify-content: space-around;
}

.ideation img {
  width: 1300px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.ideation-section p{
  text-align: justify;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 40px;
}



